.checkout-page {
  background-color: rgba(241, 229, 213, 0.241);
  padding: 3rem 10rem;
  min-height: 100vh;

  @media (max-width: 1500px) {
    padding: 2rem 1rem;
  }

  @media (min-width: 2000px) {
    padding: 4rem 40rem;
  }

  h3 {
    padding-bottom: 2rem;
  }

  .summary-title,
  .info-title,
  .shipping-title {
    padding-bottom: 1rem;
  }

  #bg-color {
    background-color: white;
  }

  .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  .row {
    --bs-gutter-x: unset;
  }

  .row .cart {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    min-height: 18vh;
  }

  .row .cart img {
    width: 25%;
    margin: 15px;
  }

  .address h5 {
    padding: 1rem 0rem;
  }

  .order-info {
    display: grid;
    gap: 20px;
    height: 30rem;
  }

  .adress-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    input {
      padding-left: 10px;
      width: 100%;
      height: 3rem;
      border-radius: 5px;
      border: 1px solid rgba(182, 182, 182, 0.2);
    }
  }

  .shipping-options {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .shipping-div {
      height: 4rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background-color: white;
    }
  }

  .cart-summary {
    text-align: right;
    line-height: 17px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    padding: 1rem;
  }

  .checkout-form-div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
}
