.success-page {
  min-height: calc(100vh - 33rem);
  background-color: white;
  .container {
    background-color: white;
    font-family: "Poppins", sans-serif;
    svg {
      width: 50% !important;
      height: 50% !important;
    }
    .text-center {
      p {
        font-size: 17px;
      }
      a {
        color: grey;
      }
    }
  }
}
