.contact-page {
  min-height: calc(100vh - 33rem);
  background-color: white;
  .container {
    background-color: white;
    .contact-section {
      @media (min-width: 1600px) {
        padding-top: 10rem;
        padding-bottom: 5rem;
      }
      font-family: "Poppins", sans-serif;
      align-items: center;
      width: 100%;
      padding-top: 5rem;
      padding-bottom: 5rem;
      .btn {
        margin-top: 5rem;
        color: rgba(0, 0, 0, 0.923);
        padding: 0.4rem;
        font-size: 17px;
        border-radius: 5px;
        font-weight: 500;
        display: block;
        width: 100%;
        outline: 4px solid #d0ebde;
        outline-offset: 2px;
        cursor: pointer;
        background: transparent;
        background-color: #d0ebde;

        &:hover {
          background-color: #abd6c2;
        }
      }

      @media (min-width: 768px) {
        .contact-title {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
