.header-nav {
  padding: 1rem 6rem;
  align-items: center;
  grid-template-columns: 16rem auto;
}

.header-button {
  display: none;
}

@media (min-width: 768px) {
  .header-button {
    height: 9rem;
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 1rem;
    & button {
      margin: 5px;
      border: 1px solid rgb(142, 173, 168);
      border-radius: 0.5rem;
      background-color: white;
      align-items: center;
      & a {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        align-items: center;
        display: flex;
        border-radius: 0.25rem;
      }
    }
  }
}

#mobile-nav {
  padding-left: 2rem;
}

@media (min-width: 768px) {
  #mobile-nav {
    display: none;
  }
}

.navbar-toggler {
  transform: translateY(-80px);
  margin-right: 1rem;
  margin-left: auto;
}

.header-button-mobile {
  margin-bottom: 1rem;
  display: flex;
  gap: 5px;

  & button {
    background-color: white;
    width: 3rem;
    border-radius: 9%;
  }
}

.header-nav {
  display: grid;
  grid-template-rows: 9rem;
  height: 9rem;
}

.header-logo img {
  width: 15rem;
  height: auto;
  align-self: center;
  scroll-margin-right: auto;
}

#main-nav li {
  margin-left: 2rem;
  margin-right: 2rem;
}
