.header-nav {
  padding: 0rem 3rem;
  align-items: center;
  display: grid;
  grid-template-columns: 16rem auto 3rem;
  grid-template-rows: 9rem;
  height: 9rem;

  .header-logo {
    img {
      width: 12rem;
      height: auto;
      align-self: center;
      scroll-margin-right: auto;
    }
  }

  .header-button {
    display: none;
    position: relative;

    .mb-0 {
      text-align: center;
      margin: 0;
      position: relative;
      p {
        margin: 0;
      }
      span {
        display: absolute;
      }
    }

    @media (min-width: 768px) {
      height: 9rem;
      justify-self: right;
      display: flex;
      align-items: center;
      gap: 1rem;
      .btn-cart {
        padding: 5px 12px;
        margin: 5px;
        border: 1px solid rgb(142, 173, 168);
        border-radius: 0.5rem;
        background-color: white;
        align-items: center;
        color: rgba(0, 0, 0, 0.705);
        a {
          all: unset;
          padding-bottom: 0.25rem;
          padding-top: 0.25rem;
          align-items: center;
          display: flex;
          border-radius: 0.25rem;
        }
      }

      .btn-cart-btn {
        position: relative;
        padding-left: 6px;
        padding-right: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
        border: 1px solid rgb(142, 173, 168);
        border-radius: 0.5rem;
        background-color: white;
        align-items: center;
        color: rgba(0, 0, 0, 0.705);

        a {
          all: unset;
          padding-bottom: 0.25rem;
          padding-top: 0.25rem;
          align-items: center;
          display: flex;
          border-radius: 0.25rem;
        }
      }

      button:hover {
        background-color: #fbf9f9;
      }
    }
  }

  .cupcake-img {
    position: absolute;
    width: 75px;
    height: 75px;
    transform: translateX(25px) translateY(-65px);
    opacity: 75%;
  }
  .cart-qty {
    position: absolute;
    font-weight: 600;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(55px, -14px);
  }
}

@media (min-width: 768px) {
  .header-nav {
    padding: 0rem 4rem;
    .header-button {
      margin: 0;
      align-items: center;
    }
  }

  .header-logo {
    img {
      width: 15rem;
    }
  }
}

.nav-link {
  margin: 0 50px;
}

#mobile-nav {
  padding-left: 2rem;

  @media (min-width: 768px) {
    display: none;
  }
}

.navbar-toggler {
  margin-left: auto;
}

.header-button-mobile {
  margin-bottom: 1rem;
  display: flex;
  gap: 5px;

  button {
    background-color: white;
    width: 3rem;
    border-radius: 9%;
  }
}

#main-nav li {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-link {
  cursor: pointer;
}
