.about-page {
  .container {
    min-height: 89vh;
    background-color: white;
    .about-title {
      margin-top: 2rem;
      font-family: "Poppins", sans-serif;
    }
    .about-text {
      margin-top: 2rem;
      font-family: "Poppins", sans-serif;
      margin-bottom: 2rem;
    }
    .about-text-2 {
      margin-top: 3rem;
    }

    @media (min-width: 768px) {
      .about-title {
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
      .about-text {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}
