.product-image {
  text-align: center;

  img {
    max-height: 80%;
    max-width: 80%;
    object-fit: cover;
    border-radius: 10%;
  }
}

@media (max-width: 768px) {
  .product-image {
    grid-area: image;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 80%;
      max-width: 80%;
      object-fit: cover;
    }
  }
}
